<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title> </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="angular.min.js"></script>
    </head>
    <body ng-controller="PaisController"/>
        Código <input type="text" ng-model ="pais.id"/>
        <br>
        Nome <input type="text" ng-model ="pais.nome"/>
        <br>
        Sigla <input type="text" ng-model ="pais.sigla"/>
        <br>
        <button type="button" ng-click ="salvar()">Salvar</button>
        <button type="button" ng-click ="atualizar()">Atualizar</button>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Nome </th>
                    <th> Sigla </th>
                    <th> Opções </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in paises">
                    <td> {{p.id}} </td>
                    <td> {{p.nome}} </td>
                    <td> {{p.sigla}} </td>
                    <td>
                        <a href="#"ng-click="excluir(p)"> Excluir </a>
                        
                    </td>
                </tr>
            </tbody>
        <table/> 
    </body>
</html>
<script>
    
    module=angular.module("app",[]);
    
    module.controller("PaisController",["$scope","$http",function ($scope,$http){
            //inicializar o objeto
            $scope.pais={
                id:"",
                nome:"",
                sigla:""
             };
             
            
             
            $scope.salvar = function (){
                $http.post("/paises",$scope.pais)                
                    .success(function (){
                        alert("Sucesso!");
                        $scope.atualizar();
                        
                    }).error(deuErro);
            };
            
            $scope.atualizar=function(){
                $http.get("/paises")
                    .success(function(data){
                        $scope.paises=data;
                
                    }).error(deuErro)
            };
            
             $scope.atualizar();
             
             $scope.excluir = function(pais){
                 //quando faz parte da url e não do corpo, coloca + pra concatenar
                 $http.delete("/paises/"+ pais.id)
                 .success(function(){
                    alert("Excluído!");
                    $scope.atualizar();
                 }).error(deuErro);
             };
            
            function deuErro(){
                alert("Erro!!!");
            };
            
    }]);
    
    
    
    
    
    
</script>